doctype html
html
  head
    meta(charset="utf8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(property="og:locale" content="zh_TW")
    meta(property="og:type" content="website")
    meta(property="og:url" content=url)
    meta(property="og:title" content= `${ title } - Co meme`)
    meta(property="og:description" content="連結迷因文化與長輩圖文化，跨世代的社交網路媒體")
    meta(property="og:image" content=`${ host }/img/logo-big.png`)
    meta(property="og:image:alt" content="Co meme - 連結迷因文化與長輩圖文化，跨世代的社交網路媒體")
    meta(property="og:image:type" content="image/png")
    meta(property="og:image:width" content="1024")
    meta(property="og:image:height" content="1024")
    meta(property="fb:app_id" content="684988175228092")
    title= title + " - Co meme"
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="/css/common/reset.css")
    link(rel="stylesheet" type="text/css" href="/css/common/button.css")
    block stylesheets
  body
    block header
    main.main
      div.main__filler
      block main
    include ../components/share.pug
    include ../components/unauthorized.pug
    +share
    +unauthorized
    block scripts
