.main {
    padding: 2rem 6rem;
    background-color:#F7F7F7;
}


.main__topics {
    box-sizing: border-box;
    width: 90rem;
    height: 10rem;
    display: flex;
}

.main__topic {
    box-sizing: border-box;
    width: 20rem;
    height: 10rem;
    margin-right: 1.5rem;
    margin-bottom: 2rem;
    display: flex;
    border-radius: 1rem;
    background-color:#EBB026;
    box-shadow: 3px 3px 6px #00000029;
}


.main__topic--img {
    width: 10rem;
    height: 10rem;
    background-color:#FFFFFF;
}



.main__topic--info {
    width: 10rem;
    height: 10rem;
    padding: 0.5rem;
}

.main__info--font {
    font-size: 1.5rem;
}

.main__new--font {
    font-size: 1rem;
}

.main__button {
    display: flex;
    justify-content:space-between;
}

.main__select {
    border-radius: 2rem;
}

.main__button--left {
    display: flex;
}

.main__button--right {
    display: flex;
}

.main__img {
    justify-content: center;
    display: flex;
}
