.sidebar {
    z-index: 8;
    box-sizing: border-box;
    width: 15rem;
    height: calc(100vh - 3.5rem);
    position: sticky;
    top: 3.5rem;
    padding: 1rem;
    font-size: .9rem;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
}

.sidebar__menu {
    padding-bottom: 1rem;
    border-bottom: #E2E2E2 1px solid ;
}

.sidebar__menu--button {
    padding: .75rem .5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all .3s;
}

.sidebar__menu--icon {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
    background-color: #AAAAAA;
    transition: all 0.3s;
}

.sidebar__menu--label {
    font-size: small;
    color: #333333;
}

.sidebar__menu--button:hover {
    background-color: #F2F2F2;
}

.sidebar__button--active > .sidebar__menu--icon, .sidebar__menu--button:hover > .sidebar__menu--icon {
    background-color: #4C26EB;
}

.sidebar__button--active > .sidebar__menu--label, .sidebar__menu--button:hover > .sidebar__menu--label {
    font-weight: bold;
}

.sidebar__menu--homeIcon {
    -webkit-mask-image: url(/img/common/sidebar/home.svg);
    mask-image: url(/img/common/sidebar/home.svg);
}

.sidebar__menu--recommendIcon {
    -webkit-mask-image: url(/img/common/sidebar/star.svg);
    mask-image: url(/img/common/sidebar/star.svg);
}

.sidebar__menu--latestIcon {
    -webkit-mask-image: url(/img/common/sidebar/hotjar.svg);
    mask-image: url(/img/common/sidebar/hotjar.svg);
}

.sidebar__popularTags {
    padding-top: 1rem;
    display: grid;
    align-items: flex-start;
    align-content:center ;
}

.sidebar__popularTags--title {
    color: #AAAAAA;
}

.sidebar__popularTags--more {
    cursor: pointer;
    display: block;
    width: 100%;
    padding: .25rem 0;
    border-radius: 1.5rem;
    background-color: #F2F2F2;
    color: #333333;
    font-weight: 500;
    text-align: center;
    transition: all .3s;
}

.sidebar__popularTags--more:hover {
    background-color: #E2E2E2;
}
