.tags {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.tag {
    background-color: #6026EB;
    color: #ffffff;
    margin-right: .5rem;
    padding: .25rem 1rem;
    border-radius: 1.5rem;
}
