.members {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-items: center;
}

.member {
    margin: 0 16px;
    font-size: 16px;
    display: grid;
    justify-content: center;
}

.name {
    margin: 20px 36px;
    font-size: 34px;
    display: grid;
    justify-content: center;
    
}

.grayscale {
    filter: grayscale(100%);
    transition: filter 1s;
}

.grayscale:hover {
    filter: grayscale(0%);

}


img {
    width: 100%;
    height: auto;
    border-radius: 30px;
}