.main {
    background: #F7F7F7;
}

.main__container {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: min-content auto;
}

.main__profile--banner {
    display: grid;
    justify-content: center;
    width: 100%;
    padding-top: 2rem;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    z-index: 1;
}

.profile__banner--header {
    display: grid;
    justify-items: center;
    align-items: start;
}

.profile__header--name {
    margin: .25rem 0;
    font-size: 1.5rem;
    font-weight: 500;
}

.profile__header--followerCount {
    margin-bottom: 2rem;
}

.profile__header--subscribe {
    display: block;
    margin-bottom: 1rem;
}

.profile__banner--navi {
    border-top :#E2E2E2 1px solid ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__navi--input {
    display: none;
}

.profile__navi--tab {
    position: relative;
    cursor: pointer;
    padding: 1.25rem 2rem;
    transition: all .3s;
}

@media screen and (min-width: 800px) {
    .profile__navi--tab:hover {
        background: #F7F7F7;
    }
}
.profile__navi--input:checked + .profile__navi--tab {
    font-weight: bold;
}

.profile__navi--input:checked + .profile__navi--tab::after {
    content: "";
    position: absolute;
    display: block;
    width: 24px;
    height: 8px;
    background-color: #4C26EB;
    border-radius: 5px;
    bottom: -4px;
    left: calc(50% - 12px);
}

.main__profile--panels {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
}

.main__profile--panel {
    grid-area: 1 / 1 / 2 / 2;
    box-sizing: border-box;
    width: 100%;
    padding: 2rem;
    opacity: 0;
    z-index: -1;
    transform: translateY(-50px);
    transition: all .3s;
}

.panel--active {
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
}

.main__profile--tags, .main__profile--users {
    display: grid;
    justify-content: center;
    justify-items: center;
    row-gap: 2rem;
    column-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-template-rows: min-content;
}

.main__profile--tagCloud {
    text-align: center;
}