.timeline__upload {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 3px 6px #00000029;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4rem 1fr;
    margin-bottom: 1rem;
}
.timeline__upload > div {
    width: 100%;
    height: 100%;
}
.upload__title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    justify-self: start;
    align-items: center;
    display: flex;
    border-bottom-style: solid;
    border-color: #00000029;
    border-width: 2px;
}
.upload__title--icon {
    width: 24px;
    height: 24px;
    background-color: #4C26EB;
    -webkit-mask-image: url(/img/common/header/upload.svg);
    mask-image: url(/img/common/header/upload.svg);
    margin: 0 0.5rem;
}
.upload__title--content {
    font-weight: bold;
}
.upload__local,  .upload__online{
    justify-self: center;
}
.upload__local {
    border-right-style: solid;
    border-color: #00000029;
    border-width: 2px;
}
.upload__all {
    width: 20rem;
    height: 6rem;
    display: flex;
    margin: 1rem auto;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
}
.upload__all:hover {
    background-color: rgba(170,170,170,0.3);
}
.upload__left {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    display: grid;
    justify-items: center;
    align-items: center;
}
.upload__left--inner{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #aaaaaa;
    display: grid;
    align-content: center;
    justify-content: center;
    z-index: 2;
}
.upload__left--outter {
    background-color: rgba(77, 38, 235, 0.2);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}
.upload__all:hover > .upload__left .upload__left--outter{
    width: 6rem;
    height: 6rem;
    transition-duration: 0.2s;
}
.upload__all:hover > .upload__left .upload__left--inner {
    background-color: #4C26EB;
}
.upload__right {
    margin-left: 1rem;
    align-self: center;
}
.upload__right--title {
    font-size: 1.5rem;
    font-weight: bold;
}
.upload__right--subtitle {
    margin-top: 0.5rem;
}