.main {
    background-color: #F7F7F7;
    min-height: 100vh;
}
.main__template {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content min-content auto;
    background-color: #FFFFFF;
    border-radius: 1rem;
    box-shadow: 0px 3px 6px #00000029;
    margin: 2rem 3rem;
}
/* Flow */
.template__flow {
    padding: 2rem 3rem;
    display: grid;
    align-items: center;
    grid-template-columns: 9.5rem 1fr 12rem 1fr 9.5rem;
}
.flow__step {
    position: relative;
    height: 4rem;
}
.flow__divider {
    padding: 0 1rem;
}
.divider__line {
    border-bottom: 1px solid;
    border-top: 1px solid;
    color: #e2e2e2;
}
.step__none {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
}
.none__circle {
    width: 4rem;
    height: 4rem;
    margin-right: 0.5rem;
}
.none__gray {
    width: 3rem;
    height: 3rem;
    background-color: #aaaaaa;
    border-radius: 50%;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    display: grid;
    align-content: center;
    margin: 0.5rem 0.5rem;
}
.none__content {
    font-size: 1.25rem;
    font-weight: bold;
    color: #aaaaaa;
    margin: auto;
    z-index: 0;
}
.step__color {
    display: flex;
    flex-wrap: nowrap;
}
.color__box {
    display: none;
}
.color__circles {
    width: 4rem;
    height: 4rem;
    position: relative;
    margin-right: 0.5rem;
    background-color: #FFFFFF;
}
.color__circle {
    border-radius: 50%;
    position: absolute;
}
.color__circle--img {
    width: 3rem;
    height: 3rem;
    margin: 0.5rem 0.5rem;
    position: absolute;
}
.color__circle--top {
    width: 3rem;
    height: 3rem;
    background-color: #4C26EB;
    border-radius: 50%;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    display: grid;
    align-content: center;
    margin: 0.5rem 0.5rem;
    z-index: 1;
}
.color__circle--bottom {
    width: 4rem;
    height: 4rem;
    background-color: #4C26EB;
    opacity: 0.28;
    z-index: 0;
}
.color__content {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333333;
    margin: auto;
    z-index: 0;
}
.color__box:checked + .color__circles > .color__circle--top {
    display: none;
}
.color__box:checked + .color__circles > .color__circle--bottom {
    display: none;
}
/* Step 1 */
.step__timeline {
    margin: 2rem 4rem;
    position: relative;
}
.timeline__category {
    width: fit-content;
    display: flex;
    background: #FFFFFF;
    height: 2rem;
    border-radius: 2rem;
}

.timeline__category--input {
    display: none;
}

.timeline__category--label {
    display: bslock;
    color: #AAAAAA;
    background-color: #FFFFFF;
    padding: .5rem 2rem;
    line-height: 1rem;
    border-radius: 2rem;
}

.timeline__category--input:checked + .timeline__category--label {
    color: #FFFFFF;
    background-color: #6026EB;
    box-shadow: 3px 3px 6px #00000029;
}

.timeline__bottom {
    text-align: center;
}
/* Posts */
.timeline__posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    justify-items: center;
    grid-gap: 1.5rem;
    margin-top: 4rem;
}

/* default editor size */
.step2__editor{
    width: 100%;
}
.editor__canvas {
    border: 1px dashed;
    border-radius: 10px;
}
/* Step 2 */
.step2__layout {
    display: grid;
    grid-template-columns: 4fr 6fr;
    gap: 2rem;
}
.element__title--content {
    font-size: 20px;
    font-weight: bold;
}
.element__title--comment {
    font-size: 12px;
}
.element__describe {
    margin: 1.5rem 0 1rem 0;
}
.element__describe--title {
    font-size: 12px;
}
.element__describe--input {
    box-sizing: border-box;
    display: flex;
    width: 75%;
    height: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 18px;
    background-color: #F2F2F2;
    margin-top: 0.25rem;
}
.element__describe--bar {
    flex-grow: 1;
    border: none;
    background: none;
}
.element__buttons{
    font-size: 14px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 7rem;
}
.element__buttons *{
    padding: 0.75rem 4.5rem;
}
.element__button--back{
    color: #4c26eb;
}
.element__button--next{
    background-color: #4c26eb;
    color: #ffffff;
    border-radius: 49px;
}

/* Step 3 */
.element__keyword {
    display: flex;
    margin: 1.5rem 0;
}
.element__keyword--input {
    display: flex;
    box-sizing: border-box;
    width: 14rem;
    padding: 0.5rem 1rem;
    background-color: #F2F2F2;
    border-radius:20px;
}
.element__tag--bar {
    flex-grow: 1;
    border: none;
    background: none;
}
.element_keyword--button {
    font-size: 14px;
    color: #4C26EB;
    font-weight: bold;
    margin-left: 0.75rem;
}
.element__tags {
    height: 11rem;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 0.5rem 0.5rem;
}
.element_tag {
    font-size: 14px;
    color: #ffffff;
    background-color: #6026eb;
    border-radius: 24px;
    padding: 0.25rem 0.75rem;
    margin: 0.5rem 0.5rem;
    border: none;
    cursor: pointer;
}