link(rel="stylesheet" type="text/css" href="/css/common/image-info.css")

mixin imageInfo(info)
  div.main__imageInfo
    div.main__imageInfo--dialog
      button.main__imageInfo--close
        img(src="/img/image/close.svg" width="24" height="24" onclick="document.querySelector('.main__imageInfo').style.display='none';")
      img.main__imageInfo--image(src=`data:image/png;base64, ${ info.image }`)
      div.main__imageInfo--info
        span.main__imageInfo--infoName= info.title
        div.main__imageInfo--infoAuthor
          span 製作者：
          a(href=`/profile/${ info.author.userId }`)= info.author.username
        p.main__imageInfo--description= info.description
        a.button--solid.main__imageInfo--make(href="/") 開始製作