div.main__imageInfo
  div.main__imageInfo--dialog
    button.main__imageInfo--close
      img(src="/img/image/close.svg" width="24" height="24" onclick="document.querySelector('.main__dialog').innerHTML = '';")
    img.main__imageInfo--image(src=`data:image/png;base64, ${ content }`)
    div.main__imageInfo--info
      span.main__imageInfo--infoName= title
      div.main__imageInfo--infoAuthor
        span 製作者：
        a(href=`/profile/${ author.userId }`)= author.username
      pre.main__imageInfo--description= description.replace(/\<br\>/gi, '\n')
      button.button--solid.main__imageInfo--make 開始製作
