nav
  div
    a
      img(src="")
      span 首頁
    a
      img(src="")
      span 熱門內容
    a
      img(src="")
      span 為你推薦
    a
      img(src="")
      span 關注中
  hr
  div
    p 熱門主題
    a
      img(src="")
      span 熱門1
    a
      img(src="")
      span 熱門2
    a
      img(src="")
      span 熱門3
    a
      img(src="")
      span 熱門4
    button 顯示更多
  hr
  div
    p 熱門標籤
    span 標籤1
    span 標籤2
    span 標籤3
    span 標籤4
    button 顯示更多
