link(rel="stylesheet" type="text/css" href="/css/common/not-found.css")

mixin notFound
  div.notfound
    img.notfound__icon(src="/img/common/error.svg" width="168" height="168")
    span.notfound__text--404 404
    span.notfound__text--notFound 沒有這一頁喔