link(rel="stylesheet" type="text/css" href="/css/share.css")
link(rel="stylesheet" type="text/css" href="/css/common/button.css")

mixin share
  div.main__share
    div.main__share--dialog
      span.main__share--title 分享
      span.main__share--picture 圖片連結
      div.main__share--link
        input.main__share--linkCopy(type="text" value="http://luffy.ee.ncku.edu.tw:42069/image/49")
        button.button--solid.main__share--linkButton 複製連結
      span.main__share--others 其他分享方式
      div.main__share--sns
        a.share--snsType.main__share--snsLine(href="")
          img(src="" width="48" height="48")
          span LINE
        a.share--snsType.main__share--snsMessenger(href="")
          img(src="" width="48" height="48")
          span Messenger
        a.share--snsType.main__share--snsFacebook(href="")
          img(src="" width="48" height="48")
          span Facebook
        a.share--snsType.main__share--snsTwitter(href="")
          img(src="" width="48" height="48")
          span Twitter
