doctype html
html
  head
    meta(charset="utf8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(property="og:locale" content="zh_TW")
    meta(property="og:type" content="website")
    meta(property="og:url" content=url)
    meta(property="og:title" content= "Co meme - 跨世代的社交網路媒體")
    meta(property="og:description" content="連結迷因文化與長輩圖文化，跨世代的社交網路媒體")
    meta(property="og:image" content=`${ host }/img/logo-big.png`)
    meta(property="og:image:alt" content="Co meme - 連結迷因文化與長輩圖文化，跨世代的社交網路媒體")
    meta(property="og:image:type" content="image/png")
    meta(property="og:image:width" content="1024")
    meta(property="og:image:height" content="1024")
    meta(property="fb:app_id" content="684988175228092")
    title Co meme - 跨世代的社交網路媒體
    link(rel="stylesheet" type="text/css" href="/css/about/common.css")
    link(rel="stylesheet" type="text/css" href="/css/about/intro.css")
    link(rel="stylesheet" type="text/css" href="/css/about/origin.css")
    link(rel="stylesheet" type="text/css" href="/css/about/feature.css")
    link(rel="stylesheet" type="text/css" href="/css/about/member.css")
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")
  body
    nav.navigation
      a.navigation__logo(href='/')
        img(src="/img/common/logo.svg" width="106" height="25")
      div.navigation__sections
        a.navigation__section.navigation__section--origin(href="#origin") 緣起
        a.navigation__section.navigation__section--feature(href="#feature") 功能
        a.navigation__section.navigation__section--member(href="#member") 成員
      div.navigation__actions
        a.navigation__action.navigation__action--signup(href="/signup") 註冊
        a.navigation__action.navigation__action--signin(href="/signin") 登入
    main
      section.main__intro
        img.intro__logo(src="/img/common/logo.svg" width="237" height="57")
        h1.intro__title 跨世代的社交網路媒體
        p.intro__slogan 用對方的語言讓彼此的聲音被聽見
        a.intro__signup(href="/signup") 馬上加入
        div.intro__images
          img.intro__image.image__padel.image__padel--blue(src="/img/about/intro/padel-blue.svg" width="216" height="159")
          img.intro__image.image__padel.image__padel--purple(src="/img/about/intro/padel-purple.svg" width="216" height="159")
          img.intro__image.image__man.image__oldman(src="/img/about/intro/oldman.svg" width="89" height="190")
          img.intro__image.image__man.image__youngman(src="/img/about/intro/youngman.svg" width="89" height="190")
          img.intro__image.image__msg.image__msg--co(src="/img/about/intro/msg-co.svg" width="119" height="155")
          img.intro__image.image__msg.image__msg--meme(src="/img/about/intro/msg-meme.svg" width="119" height="155")
          img.intro__image.image__msg.image__msg--blue(src="/img/about/intro/msg-blue.svg" width="68" height="88")
          img.intro__image.image__msg.image__msg--pink(src="/img/about/intro/msg-pink.svg" width="68" height="88")
          img.intro__image.image__msg.image__msg--purple(src="/img/about/intro/msg-purple.svg" width="68" height="88")
          img.intro__image.image__msg.image__msg--yellow(src="/img/about/intro/msg-yellow.svg" width="68" height="88")
      section#origin.main__origin
        div.origin__center
          div.center__questions
            div.center__question.center__question--top ?
            div.center__question.center__question--bottom
          div.center__titles
            img.center__title.title__image(src="/img/common/logo.svg" width="240" height="59")
            span.center__title.title__content 如何開啟世代間的對話?
          div.center__subtitle
            span 在社群媒體興盛的近幾年以來，加強了群體之間的連結，卻同時也加大了不同群體之間的隔閡，像是生在網路時代的年輕人與從未使用過網路的老年人，如何加強這兩個極端群體的連結便是我們的目標
        div.origin__circles
          div.origin__circle.origin__circle--left
          div.origin__circle.origin__circle--right
      section#feature.main__feature
        div.feature__title
          img(src="/img/common/logo.svg" width="240" height="59")
          span 三大功能
        div.feature__contents
          p 透過迷因與長輩圖讓年輕一代與老一輩有一個共同交流的平台，並透過兩者的結合讓兩個世代有更多交集
        div.feature__functions
          div.feature__function
            div.feature__function--circle
              img(src="/img/about/feature/meme.svg" alt="梗圖功能")
            div.feature__function--description
              h2 梗圖功能
              p 近幾年來開始於網路上興盛，象徵著年輕一代的梗圖文化，大多為有趣、搞笑的內容，往往透過社群傳播造成極大的影響力，短時間內就能引發潮流。
          div.feature__function
            div.feature__function--circle
              img(src="/img/about/feature/connection.svg" alt="社群連結")
            div.feature__function--description
              h2 社群連結
              p 創造長輩與年輕世代的社群連結，讓兩種不同的文化可以在這個平台互相影響與理解，Co meme創造的不只是一個梗圖或長輩圖產生器，更希望能夠開啟兩個世代間的社群連結。
          div.feature__function
            div.feature__function--circle
              img(src="/img/about/feature/oldmeme.svg" alt="長輩圖功能")
            div.feature__function--description
              h2 長輩圖功能
              p 「早安、晚安」、「天天開心」、「認同請分享」……。一句簡單的格言、問候配上一些荷花圖、風景照、佛像…..等照片，就是時下最流行的「長輩圖」。
      section.main__invitation
        p 從現在開始邀請你與你的家人一起使用
        a(href="/signup") 立即加入
      section#member.main__members
        h2.members__title 團隊成員
        p.members__description Co meme的五位團隊成員分別來自成大的三個不同系所，包括工業設計、電機工程與資訊工程
        div.members__gallery
          div.members__member
            a(href="https://github.com/caoneng" target="_blank")
              img.member__img(src="/img/about/member/jimmy.jpg")
            p.member__name 曹能寶
            p.member__title 設計師
          div.members__member
            a(href="https://github.com/cindy461022" target="_blank")
              img.member__img(src="/img/about/member/cindy.jpg")
            p.member__name 林芷妡
            p.member__title 工程師
          div.members__member
            a(href="https://github.com/kaeteyaruyo" target="_blank")
              img.member__img(src="/img/about/member/kinoe.jpg")
            p.member__name 段雅培
            p.member__title 工程師
          div.members__member
            a(href="https://github.com/skywalker34" target="_blank")
              img.member__img(src="/img/about/member/wenkai.jpg")
            p.member__name 謝文愷
            p.member__title 工程師
          div.members__member
            a(href="https://github.com/ArielWu0203" target="_blank")
              img.member__img(src="/img/about/member/ariel.jpg")
            p.member__name 吳偵平
            p.member__title 工程師
    footer.footer
      div.footer__contactus
        span.contactus__title 聯繫我們
        div.contactus__icons
          div.contactus__line
          a.contactus__icon(href="#")
            img(src="/img/common/facebook.svg" width="32" height="32")
          a.contactus__icon(href="#")
            img(src="/img/common/google.svg" width="32" height="32")
          a.contactus__icon(href="#")
            img(src="/img/common/instagram.svg" width="32" height="32")
          div.contactus__line
      div.footer__info
        span Copyright@UIDD 2020 , team 27
        div.footer__info--links
          a(href="#") 聯繫我們
          a(href="#") 隱私權政策
