extends layouts/base.pug

block stylesheets
  style.
    .main__error {
      height: calc(100vh - 3.5rem);
      display: grid;
      justify-content: center;
      align-content: center;
    }

block header
  include components/header.pug

block main
  include components/not-found.pug
  article.main__error
    +notFound