extends layouts/base.pug

block stylesheets
  link(rel="stylesheet" type="text/css" href="/css/index.css")
  link(rel="stylesheet" type="text/css" href="/css/common/post.css")
  link(rel="stylesheet" type="text/css" href="/css/common/user-card.css")
  link(rel="stylesheet" type="text/css" href="/css/common/tag-card.css")

block header
  include components/header.pug

block main
  include components/sidebar.pug
  mixin uploadBlock(href, imgUrl, title)
    a.upload__all(href=href)
      div.upload__left
        div.upload__left--outter
        div.upload__left--inner
          img.upload__left--img(src=imgUrl width="48" height="48")
      div.upload__right
        span.upload__right--title= title
        br
        span.upload__right--subtitle= title
  article.main__container
    +sidebar
    section.main__timeline
      if activeUser
        div.timeline__upload
          div.upload__title
            div.upload__title--icon
            span.upload__title--content 發佈圖片
          div.upload__local
            +uploadBlock("/upload", "/img/upload/photo.svg", "從你的電腦中上傳")
          div.upload__online
            +uploadBlock("/template", "/img/upload/pencil.svg", "線上模板立即製作")
      div.timeline__category
        input.timeline__category--input#category__all(type="radio" name="category" value="" checked)
        label.timeline__category--label(for="category__all") 全部
        input.timeline__category--input#category__meme(type="radio" name="category" value="0")
        label.timeline__category--label(for="category__meme") 迷因
        input.timeline__category--input#category__elderly(type="radio" name="category" value="1")
        label.timeline__category--label(for="category__elderly") 長輩圖
      div.timeline__rows
        div.timeline__row
        div.timeline__row
      div.timeline__bottom
    section.main__recommend
      div.main__recommend--overview.main__recommend--users
        p.main__recommend--title 推薦的創作者
        div#recommend__users.main__recommend--cards
        a.main__recommend--more(href='/recommend') 顯示更多
      div.main__recommend--overview.main__recommend--tags
        p.main__recommend--title 推薦的標籤
        div#recommend__tags.main__recommend--cards
        a.main__recommend--more(href=`/recommend`) 顯示更多

block scripts
  script(src="/bundle/index.bundle.js")
  script(src="/js/components/like-image.js")
  script(src="/js/components/follow-tag.js")
  script(src="/js/components/follow-user.js")
