extends layouts/base.pug

block stylesheets
  link(rel="stylesheet" type="text/css" href="/css/common/index.css")

block header
  include components/header.pug

block main
  h2 你可能會喜歡的主題
  div.main__topics
    div.main__topic
      div.main__topic--img
        img(src="")
      div.main__topic--info
        p.main__info--font 熱門主題
        p.main__new--font 本日新增

    div.main__topic
      div.main__topic--img
        img(src="")
      div.main__topic--info
        p.main__info--font 熱門主題
        p.main__new--font 本日新增
    div.main__topic
      div.main__topic--img
        img(src="")
      div.main__topic--info
        p.main__info--font 熱門主題
        p.main__new--font 本日新增
    div.main__topic
      div.main__topic--img
        img(src="")
      div.main__topic--info
        p.main__info--font 熱門主題
        p.main__new--font 本日新增
  h2 為你推薦
  div.main__button
    div.main__button--left
      button 迷因
      button 長輩圖
      button 全部
    div.main__button--right
      select.main__select
        option 最新
        option 最新
        option 最新
        option 最新

block scripts
