extends layouts/base.pug

block stylesheets
  link(rel="stylesheet" type="text/css" href="/css/latest.css")

block header
  include components/header.pug
  include components/image-info.pug

block main
  include components/sidebar.pug
  include components/image-wall.pug
  article.main__container
    +sidebar
    section.main__latest
      +imageWall('看看最近在流行什麼?')
  +imageInfo
block scripts
  script(src="/bundle/latest.bundle.js")
  script(src="/js/components/like-image.js")
