extends layouts/base.pug

block stylesheets
  link(rel="stylesheet", type="text/css" href="/css/section.css")
block header
  include components/header.pug

block main
  mixin uploadBlock(imgUrl,title)
    a.upload__all
      div.upload__left
        div.upload__left--outter
        div.upload__left--inner
          img.upload__left--img(src=imgUrl width="48" height="48")
      div.upload__right
        span.upload__right--title= title
        br
        span.upload__right--subtitle= title
  div.section__upload
    div.upload__title
      div.upload__title--icon
      span.upload__title--content 發佈圖片
    div.upload__local
      +uploadBlock("/img/upload/photo.svg","從你的電腦中上傳")
    div.upload__online
      +uploadBlock("/img/upload/pencil.svg","線上模板立即製作")

block scripts