doctype html
html
  head
    meta(charset="utf8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 登入
    link(rel="stylesheet" type="text/css" href="/css/signin/signin.css")
  body
    main
      div(class="main__signin")
        h1(class="signin__title") 登入
        form(id="signin__form" action="/signin" method="POST")
          div
            span= "帳號 "
            input(type="text" name="account")
          div
            span= "密碼 "
            input(type="password" name="password")
          button(type="submit") 登入
