extends layouts/account.pug

block stylesheet
  link(rel="stylesheet" type="text/css" href="/css/account/signin.css")
  link(rel="stylesheet" type="text/css" href="/css/common/button.css")

block action
  div.main__action
    img(src="/img/signin/account.svg" width="120" height="120")
    p.main__action--title 會員登入
    if error
      div.main__error= error.message
    form.main__form(name="signin" action="/signin" method="POST")
      input.main__form--input(type="email" name="email" placeholder="請輸入E-mail" autofocus required)
      span#form__hint--email.main__form--hint
      input.main__form--input(type="password" name="password" placeholder="請輸入密碼" required)
      span#form__hint--password.main__form--hint
      a.main__form--resetPassword(href="/resetPassword") 忘記密碼?
      input.button--solid.main__form--button.main__form--submit(type="submit" name="submit" value="登入")
      a.button--hollow.main__form--button.main__form--signup(href="signup") 註冊
    div.main__divider
      div.main__divider--line
      span.main__divider--text 或
      div.main__divider--line
    div.main__socialSignin
      p.main__socialSignin--title 使用其他方式登入
      div.main__socialSignin--sites
        a.main__socialSignin--site.main__socialSignin--facebook(href="#")
        a.main__socialSignin--site.main__socialSignin--google(href="#")
        a.main__socialSignin--site.main__socialSignin--instagram(href="#")
block scripts
  script(src="/bundle/account/signin.bundle.js")
