extends layouts/account.pug

block stylesheet
  link(rel="stylesheet" type="text/css" href="/css/account/signup.css")
  link(rel="stylesheet" type="text/css" href="/css/common/button.css")

block action
  div.main__action
    p.main__action--title 會員註冊
    if error
      div.main__error= error.message
    form.main__form(name="signup" action="/signup" method="POST")
      input.main__form--input(type="email" name="email" placeholder="請輸入E-mail" autofocus required)
      span#form__hint--email.main__form--hint
      input.main__form--input(type="password" name="password" placeholder="請輸入密碼（8字元以上）" minlength="8" required)
      span#form__hint--password.main__form--hint
      input.main__form--input(type="text" name="username" placeholder="請輸入使用者名稱（20字以內）" maxlength="20" required)
      span#form__hint--username.main__form--hint
      div.main__form--birthday
        select.main__form--input.main__form--birthyear(name="birthyear" required)
          option(disabled selected value="0") 出生年
          - let now = new Date().getFullYear(), y = now - 120;
          while y <= now
            option(value=y)= y++ + '年'
        select.main__form--input.main__form--birthmonth(name="birthmonth" required)
          option(disabled selected value="0") 月
          - let m = 1;
          while m <= 12
            option(value=m)= m++ + '月'
        select.main__form--input.main__form--birthdate(name="birthdate" required)
          option(disabled selected value="0") 日
          - let d = 1;
          while d <= 31
            option(value=d)= d++ + '日'
      span#form__hint--birthday.main__form--hint
      input.button--solid.main__form--submit(type="submit" name="submit" value="創建帳號")
    div.main__sigin
      span 已有帳號了？
      a(href="/signin") 登入

block scripts
  script(src="/bundle/account/signup.bundle.js")