extends layouts/base.pug

block stylesheets
  link(rel="stylesheet", type="text/css" href="/css/template.css")

block header
  include components/header.pug
block main
  div#imageContainer
    div#imageEditor
  button#downloadBtn(type="button") 下載

block scripts
  script(src="/bundle/template.bundle.js")