extends base.pug

block stylesheets
  link(rel="stylesheet" type="text/css" href="/css/mobile/index.css")
  link(rel="stylesheet" type="text/css" href="/css/common/post.css")

block main
  section.main__timeline
block scripts
  script(src="/bundle/mobile/index.bundle.js")
  script(src="/js/components/like-image.js")
